

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:  
    "wdth" 100;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul li{
    list-style: none;
    margin-right:50px;
    

}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li a{
    text-decoration: none;
}
.dark-2{
    color: #474747;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
/* banner */
.banner-gertest{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;

}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-top: 0;
}
.banner-continer{
        max-width: 580px 357px;
}
.banner-gertest .banner-title{
    /* margin-bottom: 15px; */
}

.banner{
    display: flex;
    align-items: center;
    margin: 0 35px 0 200px;
    justify-content: space-between;
}
.banner-profile-pic{
    width: 585px;
}

/* main section */
.main-section{
    max-width: 1140px;
    margin: 0 auto;


}
/* about section */
.section-bg{
    background-color: #FFF8F3;
}
.about-section{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.section-titel{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    color: #757575;
    font-size: 18px;
}
.about-items{
    display: flex;
    justify-content: space-around;


}
.about-tittle{
    font-weight: 400;
    color: #757575;
    
}
.about-description{
    font-weight:600;
    margin-top: 4px;
    line-height: 1px;
}
.main-section{
    margin-top: 130px;
    margin-bottom: 130px;

}
.text-center{
    text-align: center;
    
}
.skills-continer{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 33px;
    box-shadow: 0 6px 60px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* Resume */
.resume-continar{
    /* text-align: center; */
        display: flex;
        gap:24px;
}
.resume{
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.experience-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-description{
    color: #757575;
    margin-bottom: 30px;
    margin-right: 47px;

}
.resume-colum-title{
    font-size: 30px;
    font-weight: bold;
    color:#474747;

}
.resume-download-cv{
    margin-top: 50px;
}
.section-titles{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 100px;
}
/* footer */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    margin-bottom: 24px;
}
.icon{
    margin-right: 20px;
}